<div class="text-center">
<h1>Insert a New Record</h1>
    <br/>
    <p>Book Name</p>
    <input type="text" placeholder="Enter Book Name" name="BookName">
    <br/>
    <p>Book Author Name</p>
    <input type="text" placeholder="Enter Book Author Name" name="BookAuthorName">
    <br/>
    <p>Book Medium</p>
    <input type="text" placeholder="Enter Book Medium" name="BookMedium">
    <br/>
    <p>Book Publish Year</p>
    <input type="text" placeholder="Enter Book Publish Year" name="BookPublishedYear">
    <br/>
</div>