<h3 style="display: flex;justify-content: center;padding: 25px;">Getting data using the Backend from .NET Core Web API</h3>

<div style="display: flex;justify-content: center;">

    <table>
      <thead>
        <tr>
          <th>Book Id</th>
          <th>Book Name</th>
          <th>Book Author Name</th>
          <th>Book Medium</th>
          <th>Book Published Year</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of bookList">
          <td>{{ book.bookID }}</td>
          <td>{{ book.bookName }}</td>
          <td>{{ book.bookAuthorName }}</td>
          <td>{{ book.bookMedium }}</td>
          <td>{{ book.bookPublishedYear }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  