<nav class="navbar navbar-expand-lg navbar-dark bg-primary"  style="padding: 10px 50px;">
 
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link active"  routerLink="Get-Book-List">Get Book List</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link active" routerLink="Insert-Book">Insert Book</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link active" routerLink="Edit-Book">Edit Book</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link active" routerLink="Delete-Book">Delete Book</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet>

  </router-outlet>

</div>

<footer class="text-center" style="position:sticky;padding: 25px;">
  Developed by Trilok Chand Swami
</footer>